  <!-- Encabezado del componente -->
  <div class="header">
    <div class="header-logo">
      <a routerLink="/inicio">
        <img src="/assets/images/logo.png" alt="Logo" />
      </a>
    </div>
    <div class="profile-button-container">
      <button class="profile-button" (click)="toggleMenu()">Perfil</button>
      <div class="profile-menu" *ngIf="menuOpen">
        <p class="close-menu" (click)="toggleMenu()">✖</p>
        <a routerLink="/profile">Mi perfil</a>
        <a routerLink="/">Cerrar sesión</a>
      </div>
    </div>
  </div>

  <!-- Contenedor de recordatorios -->
  <div class="form-container">
    <!-- Mostrar mensaje si no hay recordatorios -->
    <div *ngIf="reminders.length === 0; else remindersContent" class="no-reminders">
      <h1 class="form-title">No hay recordatorios registrados. ¡Crea uno nuevo!</h1>
      <button routerLink="/reminder-new" class="profile-button">Crear Nuevo Recordatorio</button>
    </div>

    <!-- Mostrar contenido de recordatorios -->
    <ng-template #remindersContent>
      <div *ngIf="currentReminder" class="reminder-item">
        <h3>{{ currentReminder.nombre }}</h3>
        <p><strong>Descripción:</strong> {{ currentReminder.descripcion }}</p>
        <p><strong>Fecha:</strong> {{ currentReminder.date | date: 'fullDate' }}</p>
        <p><strong>Hora:</strong> {{ currentReminder.hora }}</p>
        <p><strong>Tipo:</strong> {{ currentReminder.tipo }}</p>
        <button (click)="editReminder(currentReminder)" class="edit-button">Editar</button>
      </div>
    </ng-template>
  </div>

  <!-- Footer con botones de navegación -->
  <div class="footer">
    <button class="button" (click)="previousReminder()" [disabled]="isFirstReminder()">⬅️ Anterior</button>
    <button routerLink="/reminder-new" class="profile-button">Crear Nuevo Recordatorio</button>

    <button class="button" (click)="nextReminder()" [disabled]="isLastReminder()">Siguiente ➡️</button>
  </div>

