
/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: hsla(261, 84%, 31%, 0.384);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed; /* Mantiene el header en la parte superior */
  top: 20px; 
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1200px;
  z-index: 1000;
}

/* Logo */
.header-logo img {
  width: 250px;
}

/* Botón de perfil */
.profile-button {
  background-color: #5321a3;
  color: #ffffff;
  border: none;
  padding: 7px 50px; /* Ajusta el padding para que se vea más proporcionado */
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s;
}


.profile-button-container {
  display: flex; /* Hacer que el contenedor use flexbox */
  align-items: center; /* Centra verticalmente los elementos */
}

.profile-button-container a {
  padding: 12px; /* Padding del enlace */
  margin-right: 4px; /* Margen derecho para separar del botón */
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: #eeeeee; /* Cambia el color del texto del enlace, si es necesario */
  text-decoration: underline;
}


/* Menú desplegable */
.profile-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 8px;
}

.profile-menu p.close-menu {
  text-align: right;
  cursor: pointer;
  margin: 0;
  font-weight: bold;
  color: #5321a3;
}

.profile-menu a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 5px 0;
}



button .button-container {
  
  justify-content: space-between; /* Centra los botones */
  display: flex; /* Hacer que el contenedor use flexbox */
  align-items: center; /* Centra verticalmente los elementos */
  background-color: #5321a3;
  color: #ffffff;
  border: none;
  padding: 7px 50px; /* Ajusta el padding para que se vea más proporcionado */
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s;
}


.reminder-item {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

/* Contenedor de recordatorios */
.form-container {
  max-width: 400px;
  margin: 120px auto; /* Aumenta el margen superior para que esté más abajo */
  padding: 20px;
  background: hsla(261, 84%, 31%, 0.116); 
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}


/* Mensaje de no hay recordatorios */
.no-reminders {
  text-align: center;
  margin-top: 20px;
}

.no-reminders p {
  font-size: 18px;
  color: #555;
}


/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: hsla(261, 84%, 31%, 0.384);
  border-radius: 10px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  position: fixed; /* Fijo en la parte inferior */
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1200px;
  z-index: 1000;
}

.footer button {
  background-color: #5321a3;
  color: #ffffff;
  border: none;
  padding: 7px 50px; /* Ajusta el padding para que se vea más proporcionado */
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.footer button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
