<div class="container">
    <!-- Header con el título de la aplicación -->
    <header class="header">
        <div class="logo" style="padding-left: 30px;">
            <img src="assets/images/logo.png" alt="Logo" />
        </div>
        <div class="home-buttons" style="padding-right: 30px;">

            <button class="secondbutton"> <a type="button" style="color: aliceblue;" routerLink="/documents">Documentos
                    Recomendados</a></button>
            <button class="secondbutton"> <a type="button" style="color: aliceblue;"
                    routerLink="/register">Registrarse</a></button>
            <button type="button" class="btn btn-primary; buttonprincipal"> <a class="letters"
                    routerLink="/login">Iniciar Sesión</a> </button>

        </div>
    </header>

    <!-- Menú de navegación -->
    <!-- <ul>
        <li><a routerLink="/login">Iniciar Sesión</a></li>
        <li><a routerLink="/register">Registrarse</a></li>
        <li><a routerLink="/calendar">Calendario de Recordatorios</a></li>
        <li><a routerLink="/reminder-editor">Crear Recordatorio</a></li>
        <li><a routerLink="/documents">Documentos Recomendados</a></li>
      </ul>
     -->

    <!-- Sección de bienvenida -->
    <section class="contenido">
        <div style="padding: 5%;">
            <h1 class="tittle1">Bienvenido a</h1>
            <h1 class="tittle2">EscoliGest</h1>
            <button type="button" class="btn btn-primary; buttonprincipal"> <a class="letters"
                routerLink="/login">Iniciar Sesión</a> </button>
        </div>
        <div style="margin-right: 20px;">
            <img src="assets\images\escolisosis.png" />
        </div>

    </section>

    <!-- Pie de página -->
    <footer class="footer">
        <p>&copy; 2024 EscoliGest. Todos los derechos reservados.</p>
    </footer>
</div>