<div class="header">
    <div class="header-logo">
      <a routerLink="/inciio">
        <img src="/assets/images/logo.png" alt="Logo" />
      </a>
    </div>
    <div class="profile-button-container">
      <a routerLink="/inicio">Inicio</a>
      <button class="profile-button" (click)="toggleMenu()">Perfil</button>
      <div class="profile-menu" *ngIf="menuOpen">
        <p class="close-menu" (click)="toggleMenu()">✖</p>
        <a routerLink="/profile">Mi perfil</a>
        <a routerLink="/">Cerrar sesión</a>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="card">
      <h2 class="cookieHeading">Recordatoria Editado</h2>
      <p class="cookieDescription">Tu recordatorio ha sido editado exitosamente.</p>
      <div class="buttonContainer">
        <button class="calendarButton" routerLink="/calendar">Ver calendario</button>
        <button class="inicioButton" routerLink="/inicio">Volver al inicio</button>
      </div>
    </div>
  </div>
  